@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  width: 100%;
  height: 100px;
  background-color: rgba(59, 134, 37, 0.733);
  display: flex; 
  flex-flow:row nowrap;
  justify-content: space-between;
  align-items: center;
}

.imagenLogo{
  height: 80px;
  margin: 10px;
  border-radius: 15px;
}

.contenedorNav {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 24px;
}

.barraNav ul {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.barraNav ul li{
  list-style: none;
  display: inline;
  font-size: 22px;
  font-family: 'Asap', sans-serif;
}

.barraNav a{
  color:black;
  text-decoration: none;
  margin-left: 20px;
}

.barraNav a:hover{
  color: rgba(110, 97, 97, 0.966);
}

.barraNavResp {
  display: none;
}

main {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-flow: row nowrap;
}

.contenedorIzq {
  flex-grow: 1;
  color: black;
  font-family: 'Palanquin Dark', sans-serif;
  background-color: rgba(155, 145, 145, 0.822);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-left: 20px;
}

.contenedorDer {
  width: 35%;
  height: 100%;
  background-image: url("imagenes/imagenKQJ.jpeg");
  background-size: cover;
  background-position: center;
}

.imgPaginaPrincipal {
  width: 100%;
  height: 100%;
}

#tituloPrincipal {
  font-size: 45px;
  text-align: center;
  padding: 30px 10px;
}

.parrafoPortada {
  font-size: 25px;
  text-align: center;
}

footer {
  width: 100%;
  padding: 20px 30px;
  display: flex;
  flex-flow: row wrap;
  background-color: rgb(49, 45, 45);
  color: white;
}

.infoCopyrigth {
  width: 60%;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.seccionBotones {
  width: 40%;
  display: grid;
  grid-template-areas: 
  "play play mac mac"
  "play play mac mac"
  "fac inst twi you"
  "fac inst twi you";
  grid-row-gap: 10px;
  grid-column-gap: 10px ;
  padding-left: 25px;
  text-align: center;
}

.btnIzq {
  grid-area: play;
}

.btnDer {
  grid-area: mac;
}

.anclaFac {
  grid-area: fac;
}

.anclaInst {
  grid-area: inst;
}

.anclaTwi {
  grid-area: twi;
}

.anclaYou {
  grid-area: you;
}

.btnDescarga {
  min-width: 100px;
  max-width: 200px;
  width: 100%;
  border-radius: 20px;
}

.iconoFaceTwi {
  width: 40px;
  height: 40px;
}

.iconoInsYou {
  width: 40px;
  height: 40px;
} 


@media only screen and (max-width: 750px) {

  .barraNav {
    display: none;
  }

  .barraNavResp {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

  .contenedorDer {
    width: 50%;
  }

  #tituloPrincipal {
    font-size: 40px;
  } 
  
  .parrafoPortada {
    font-size: 20px;
  }

  .infoCopyrigth {
    width: 50%;
    font-size: 14px;
    line-height: 1.3;
  }
}


@media only screen and (max-width: 475px) {

  .imagenLogo{
    height: 74px;
    margin: 10px;
    border-radius: 14px;
  }

  .barraNavResp {
    width: 40px;
    height: 40px;
   margin-right: 24px;
  }

  main {
    display: flex;
    flex-flow: column nowrap;
  }
  
  .contenedorIzq {
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
  }
  
  .contenedorDer {
    width: 100%;
    height: 50%;
    background-image: url("imagenes/imgHorizontal.jpeg");
    background-size: cover;
    background-position: center;
  }
  
  .imgPaginaPrincipal {
    width: 100%;
    height: 100%;
  }
  
  #tituloPrincipal {
    font-size: 32px;
    text-align: center;
  }
  
  .parrafoPortada {
    font-size: 16px;
    text-align: center;
  }

  .listaNoticias {
    font-size: 16px;
  }

  .seccionBotones {
    width: 100%;
    margin-top: 10px;
  }

  .infoCopyrigth {
    width: 100%;
    font-size: 16px;
    line-height: 1.3;
  }

  .btnDescarga {
    max-width: 170px;
  }
}


@media only screen and (max-width: 375px) {

  .imagenLogo{
    height: 68px;
    margin: 8px;
    border-radius: 10px;
  }

  .contenedorDer {
    height: 60%;
  }
  
  #tituloPrincipal {
    font-size: 28px;
  }
  
  .parrafoPortada {
    font-size: 16px;
  }

  .infoCopyrigth {
    width: 100%;
    font-size: 16px;
    line-height: 1.1;
  }

  .seccionBotones {
    width: 100%;
    margin-top: 16px;
  }
}
