@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tituloSecciones {
    margin-bottom: 0;
    font-size: 40px;
    padding-top: 10px;
}

.logo {
    width: 170px;
    height: 80px;
    background-image: url("imagenes/logo.png");
    background-size: cover;
    border-radius: 15px;
}

.navbar {
    background-image: linear-gradient(rgba(59, 134, 37, 0.733), rgb(59, 56, 56));
}

.nav-link {
    font-size: 24px;
    font-family: 'Asap', sans-serif;
    color: black !important;
}

.nav-item .nav-link:hover {
    color: whitesmoke !important;
}

.iconBurguer {
    background-color: black !important;
}

.contenedorIzq {
    color: black;
    font-family: 'Palanquin Dark', sans-serif;
    background-color: rgba(155, 145, 145, 0.822);
    padding: 0px 30px !important;
}

.contenedorIzq:hover {
    border: 14px solid white;
}

.jumbotron {
    border-radius: 0px;
    margin-bottom: 0px;
}

.tituloPrincipal {
    font-size: 75px;
    margin-bottom: 10%;
}

.tituloPrincipal:hover {
    color: white
}

.parrafosMain {
    font-size: 30px;
}

.imgPrincipal {
    height: 560px;
}

.imgPrincipal:hover {
    border: 14px solid white;
}

.imgSecundaria:hover {
    border: 14px solid white;
}

.footer {
    background-image: linear-gradient( rgb(59, 56, 56), rgba(59, 134, 37, 0.733));
    padding: 14px 0px !important;
    font-family: 'Asap', sans-serif;
}

.parrafoFooter {
    font-size: 18px;
    line-height: 1.1;
} 

.contenedorBotones {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 30px !important;
}

.botonesDescarga {
    margin-bottom: 40px;
    gap: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: center;
}

.redes {
    gap: 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

.btnDescarga {
    min-width: 120px;
    max-width: 200px;
    width: 100%;
    border-radius: 20px;
}

.iconoRedes {
    width: 44px;
    height: 44px;
}


@media only screen and (max-width: 750px) {

    .tituloPrincipal {
        font-size: 60px;
        margin-bottom: 50px;
    } 

    .parrafosMain {
        font-size: 24px;
    }

    .tituloSecciones {
        font-size: 36px;
    }

    .fondoLista {
        font-size: 22px;
    }

    .parrafoFormatos {
        font-size: 22px;
    }

    .tituloContenedorFormatos {
        font-size: 28px;
        line-height: 1.5;
    }
}


@media only screen and (max-width: 475px) {

    .logo{
        height: 74px;
    }

    .tituloPrincipal {
        font-size: 46px;
    }

    .parrafosMain {
        font-size: 20px;
    }

    .tituloSecciones {
        font-size: 30px;
    }

    .fondoLista {
        font-size: 20px;
    }

    .parrafoFormatos {
        font-size: 20px;
    }

    .tituloContenedorFormatos {
        font-size: 24px;
        line-height: 1.3;
    }

    .parrafoFooter {
        font-size: 16px;
        line-height: 1.1;
    } 
}


@media only screen and (max-width: 375px) {

    .tituloPrincipal {
        font-size: 30px;
    }

    .parrafosMain {
        font-size: 18px;
    }

    .fondoLista {
        font-size: 18px;
    }

    .parrafoFormatos {
        font-size: 18px;
    }

    .tituloContenedorFormatos {
        font-size: 22px;
        line-height: 1.1
    }

    .parrafoFooter {
        font-size: 14px;
        line-height: 1.0;
    } 
} 