@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tituloSecciones {
  margin-bottom: 0;
  font-size: 40px;
  padding-top: 10px;
}

@media only screen and (max-width: 750px) {
  .tituloSecciones {
    font-size: 36px;
  }
}

@media only screen and (max-width: 475px) {
  .tituloSecciones {
    font-size: 30px;
  }
}

header .navbar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(59, 134, 37, 0.733)), to(#3b3838));
  background-image: linear-gradient(rgba(59, 134, 37, 0.733), #3b3838);
}

header .navbar .logo {
  width: 170px;
  height: 80px;
  background-image: url("imagenes/logo.png");
  background-size: cover;
  border-radius: 15px;
}

@media only screen and (max-width: 475px) {
  header .navbar .logo {
    height: 74px;
  }
}

header .navbar .iconBurguer {
  background-color: black !important;
}

header .navbar .nav-item .nav-link:hover {
  color: whitesmoke !important;
}

header .navbar .nav-link {
  font-size: 24px;
  font-family: "Asap", sans-serif;
  color: black !important;
}

.main .jumbotron {
  color: black;
  font-family: "Palanquin Dark", sans-serif;
  background-color: rgba(155, 145, 145, 0.822);
  padding: 0px 30px !important;
  border-radius: 0px;
  margin-bottom: 0px;
}

.main .jumbotron .tituloPrincipal {
  font-size: 75px;
  margin-bottom: 10%;
}

@media only screen and (max-width: 750px) {
  .main .jumbotron .tituloPrincipal {
    font-size: 60px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 475px) {
  .main .jumbotron .tituloPrincipal {
    font-size: 46px;
  }
}

.main .jumbotron .tituloPrincipal:hover {
  color: whitesmoke;
}

.main .jumbotron .parrafosMain {
  font-size: 30px;
}

@media only screen and (max-width: 750px) {
  .main .jumbotron .parrafosMain {
    font-size: 24px;
  }
}

@media only screen and (max-width: 475px) {
  .main .jumbotron .parrafosMain {
    font-size: 20px;
  }
}

.main .jumbotron:hover {
  border: 14px solid whitesmoke;
}

.main .imgPrincipal {
  height: 560px;
}

.main .imgPrincipal:hover {
  border: 14px solid whitesmoke;
}

.main .imgSecundaria:hover {
  border: 14px solid whitesmoke;
}

#noticias, #nosotros {
  background-color: #cf2d2d;
  font-family: "Palanquin Dark", sans-serif;
}

#noticias .fondoLista, #nosotros .fondoLista {
  background-color: #cf2d2d;
  font-size: 24px;
  border-bottom: 0px;
}

@media only screen and (max-width: 750px) {
  #noticias .fondoLista, #nosotros .fondoLista {
    font-size: 22px;
  }
}

@media only screen and (max-width: 475px) {
  #noticias .fondoLista, #nosotros .fondoLista {
    font-size: 20px;
  }
}

#noticias .fondoLista .contenedorStickers, #nosotros .fondoLista .contenedorStickers {
  gap: 10px;
  text-align: center;
}

#noticias .fondoLista .contenedorStickers .btnWhatssap, #nosotros .fondoLista .contenedorStickers .btnWhatssap {
  border: 3px solid whitesmoke;
  border-radius: 15px;
  font-family: "Palanquin Dark", sans-serif;
}

#noticias .fondoLista .imgMulti, #nosotros .fondoLista .imgMulti {
  max-width: 320px;
  max-height: 260px;
  width: 100%;
}

#formatos {
  background-image: url("imagenes/as.jpeg");
  background-size: contain;
  color: white;
  font-family: "Palanquin Dark", sans-serif;
  padding: 0px 30px 60px 30px;
}

#formatos .parrafoFormatos {
  font-size: 24px;
  margin: 40px 0px;
}

@media only screen and (max-width: 750px) {
  #formatos .parrafoFormatos {
    font-size: 22px;
  }
}

@media only screen and (max-width: 475px) {
  #formatos .parrafoFormatos {
    font-size: 20px;
  }
}

#formatos .titulo--formato1 {
  font-size: 30px;
  line-height: 1.5;
  margin: 30px 0px;
  color: #346934;
  text-shadow: 0 0 10px #346934;
}

#formatos .titulo--formato2 {
  font-size: 30px;
  line-height: 1.5;
  margin: 30px 0px;
  color: orange;
  text-shadow: 0 0 10px orange;
}

#formatos .titulo--formato3 {
  font-size: 30px;
  line-height: 1.5;
  margin: 30px 0px;
  color: violet;
  text-shadow: 0 0 10px violet;
}

#formatos .imgTamaño {
  min-width: 160px;
  max-width: 280px;
  border: 2px solid white;
  width: 100%;
}

#nosotros {
  padding: 0px 30px;
}

#nosotros .contParrafosNosotros {
  padding-top: 12px;
  font-size: 22px;
}

@media only screen and (max-width: 750px) {
  #nosotros .contParrafosNosotros {
    font-size: 20px;
  }
}

@media only screen and (max-width: 475px) {
  #nosotros .contParrafosNosotros {
    font-size: 18px;
  }
}

#nosotros .contenedorInferior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 30px 0px;
}

#nosotros .contenedorInferior .imgTamaño {
  min-width: 180px;
  max-width: 280px;
  min-height: 100px;
  max-height: 200px;
  width: 100%;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#contacto {
  background-color: khaki;
  font-family: "Palanquin Dark", sans-serif;
  font-size: 22px;
}

@media only screen and (max-width: 475px) {
  #contacto {
    font-size: 20px;
  }
}

#contacto .contenedorContacto {
  margin-top: 20px !important;
}

#contacto .contenedorContacto .espaciado {
  margin-left: 10px;
  margin-right: 20px;
}

#contacto .contenedorContacto .espaciado .margenInput {
  margin-left: 20px;
}

#contacto .contenedorContacto .botonesContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#contacto .contenedorContacto .botonesContacto .boton {
  background-color: tomato;
  padding: 10px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#contacto .contenedorContacto .botonesContacto .boton:hover {
  font-size: 30px;
  background-color: rgba(255, 99, 71, 0.767);
}

#contacto .contenedorContacto .ubicacionMapa {
  margin-top: 40px;
  padding-left: 20px;
}

#contacto .contenedorContacto .ubicacionMapa .imgIconoUbicacion {
  width: 20px;
  height: 20px;
}

#contacto .contenedorContacto .ubicacionMapa .iframe {
  min-width: 330px;
  max-width: 500px;
  width: 100%;
  margin-bottom: 20px;
}

.footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b3838), to(rgba(59, 134, 37, 0.733)));
  background-image: linear-gradient(#3b3838, rgba(59, 134, 37, 0.733));
  padding: 10px 0px !important;
  font-family: "Asap", sans-serif;
}

.footer .parrafoFooter {
  font-size: 18px;
  line-height: 1.1;
}

@media only screen and (max-width: 475px) {
  .footer .parrafoFooter {
    font-size: 16px;
  }
}

.footer .contenedorBotones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 30px !important;
}

.footer .botonesDescarga {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 40px;
  gap: 10px;
}

.footer .botonesDescarga .btnDescarga {
  min-width: 120px;
  max-width: 200px;
  width: 100%;
  border-radius: 20px;
}

.footer .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 5px;
}

.footer .redes .iconoRedes {
  width: 44px;
  height: 44px;
}
/*# sourceMappingURL=inicio.css.map */