@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');


//paleta de colores inicio

$color1: linear-gradient(rgba(59, 134, 37, 0.733), rgb(59, 56, 56));
$color2: whitesmoke;
$color3: black;
$color4: rgba(155, 145, 145, 0.822);
$color5: linear-gradient( rgb(59, 56, 56), rgba(59, 134, 37, 0.733));
$color6: rgb(207, 45, 45);
$color7: tomato;
$color8: rgba(255, 99, 71, 0.767);
$color9: white;

//operadores inicio

$anchoLogo: 170px;
$largoLogo: 80px;
$largoLogoDos: 74px;
$largoImgPrincipal: 560px;
$ancho: 100%;

//fuentes

$font1: 'Asap', sans-serif;
$font2: 'Palanquin Dark', sans-serif;

//tamaños

$size0: 75px;
$size1: 40px;
$size2: 30px;
$size3: 24px;
$size4: 22px;
$size5: 20px;
$size6: 18px;
$size7: 16px;
$size8: 10px;
$size9: 5px;
$sizeRedes: 44px;

//tamaños queries

$size10: 60px;
$size11: 36px;
$size12: 28px;
$size13: 46px;

//border 

$borderHover: 14px solid $color2;

//Mixin sin parametros

@mixin flex-row-baseline {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

//Mixin con parametros

@mixin position($display, $direction, $justify) {
    display: $display;
    flex-flow: $direction;
    justify-content: $justify;
}

//mapa en seccion formatos
$map1: (
    formato1: rgb(52, 105, 52),
    formato2: orange,
    formato3: violet,
);

//Mapa 2 en seccion Nosotros aplicando map-get
$map2Animacion: (
    tiempo: 4s,
    nombre: aparecer,
    tiempoDelay: 2s,
    repeticion: infinite,
);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tituloSecciones {
    margin-bottom: 0;
    font-size: $size1;
    padding-top: 10px;

    @media only screen and (max-width: 750px) {
        font-size: $size11;
    }

    @media only screen and (max-width: 475px) {
        font-size: $size2;
    }
}


header {

    .navbar {
        background-image: $color1;
    
        .logo {
            width: $anchoLogo;
            height: $largoLogo;
            background-image: url("imagenes/logo.png");
            background-size: cover;
            border-radius: 15px;

            @media only screen and (max-width: 475px) {
                height: $largoLogoDos;
            }
        }
    
        .iconBurguer {
            background-color: $color3 !important;
        }
    
        .nav-item .nav-link:hover {
            color: $color2 !important;
        }
    
        .nav-link {
            font-size: $size3;
            font-family: $font1;
            color: $color3 !important;
        }
    }
}


.main {

    .jumbotron {
        color: $color3;
        font-family: $font2;
        background-color: $color4;
        padding: 0px 30px !important;
        border-radius: 0px;
        margin-bottom: 0px;

        .tituloPrincipal {
            font-size: $size0;
            margin-bottom: 10%;

            @media only screen and (max-width: 750px) {
                font-size: $size10;
                margin-bottom: 50px;
            } 

            @media only screen and (max-width: 475px) {
                font-size: $size13;
            }
        }

        .tituloPrincipal:hover {
            color: $color2;
        }
        
        .parrafosMain {
            font-size: $size2;

            @media only screen and (max-width: 750px) {
                font-size: $size3;
            }

            @media only screen and (max-width: 475px) {
                font-size: $size5;
            }
        }
        
    }
    
    .jumbotron:hover {
        border: $borderHover;
    }

    .imgPrincipal {
        height: $largoImgPrincipal;
    }
    
    .imgPrincipal:hover {
        border: $borderHover;
    }

    .imgSecundaria:hover {
        border: $borderHover;
    }
}


#noticias {
    background-color: $color6;
    font-family: $font2;

    .fondoLista {
        background-color: $color6;
        font-size: $size3;
        border-bottom: 0px;

        @media only screen and (max-width: 750px) {
            font-size: $size4;
        }

        @media only screen and (max-width: 475px) {
            font-size: $size5;
        }

        
        .contenedorStickers {
            gap: 10px;
            text-align: center;

            .btnWhatssap {
                border: 3px solid $color2;
                border-radius: 15px;
                font-family: $font2;
            }
        }

        .imgMulti {
            max-width: 320px ;
            max-height: 260px;
            width: $ancho;
        }
    }
}


#formatos {
    background-image: url("imagenes/as.jpeg");
    background-size: contain;
    color: $color9;
    font-family: $font2;
    padding: 0px 30px 60px 30px;

    .parrafoFormatos {
        font-size: $size3;
        margin: 40px 0px;

        @media only screen and (max-width: 750px) {
            font-size: $size4;
        }

        @media only screen and (max-width: 475px) {
            font-size: $size5;
        }
    }

    @each $form, $col in $map1 {
        .titulo--#{$form} {
            font-size: $size2;
            line-height: 1.5;
            margin: 30px 0px;
            color: $col;
            text-shadow: 0 0 10px $col;
        }
    }

    .imgTamaño {
        min-width: 160px;
        max-width: 280px;
        border: 2px solid $color9;
        width: $ancho;
    }
}


#nosotros {
    @extend #noticias;
    padding: 0px 30px;
    
    .contParrafosNosotros {
        padding-top: 12px;
        font-size: $size4;

        @media only screen and (max-width: 750px) {
            font-size: $size5;
        }

        @media only screen and (max-width: 475px) {
            font-size: $size6;
        }
    }

    .contenedorInferior {
        @include position(flex, row wrap, space-evenly);
        align-items: center;
        gap: $size5;
        padding: 30px 0px;

        .imgTamaño {
            min-width: 180px;
            max-width: 280px;
            min-height: 100px;
            max-height: 200px;
            width: $ancho;
            animation-duration: map-get($map2Animacion, tiempo);
            animation-name: map-get($map2Animacion, nombre);
            animation-delay: map-get($map2Animacion, tiempoDelay);
            animation-iteration-count: map-get($map2Animacion, repeticion);
        }
        
        @keyframes aparecer {
            0% {
                opacity: 0;
            }
        
            100% {
                opacity: 1;
            }
        }
    }
}


#contacto {
    background-color:khaki;
    font-family: $font2;
    font-size: $size4;

    @media only screen and (max-width: 475px) {
        font-size: $size5;
    }

    .contenedorContacto {
        margin-top: 20px !important;

        .espaciado {
            margin-left: 10px;
            margin-right: 20px;

            .margenInput {
                margin-left: 20px;
            }
        }

        .botonesContacto {
            @include position(flex, row wrap, space-evenly);
            gap: 30px;
            margin-bottom: 10px;
            margin-top: 10px;

            .boton {
                background-color: $color7;
                padding: 10px;
                transition: 0.7s;
            }
            
            .boton:hover {
                font-size: 30px;
                background-color: $color8;
            }
        }

        .ubicacionMapa {
            margin-top: 40px;
            padding-left: 20px;

            .imgIconoUbicacion {
                width: 20px;
                height: 20px;
            }

            .iframe {
                min-width: 330px;
                max-width: 500px;
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}


.footer {
    background-image: $color5;
    padding: 10px 0px !important;
    font-family: $font1;

    .parrafoFooter {
        font-size: $size6;
        line-height: 1.1;

        @media only screen and (max-width: 475px) {
            font-size: $size7;
        }
    } 

    .contenedorBotones {
        @include position(flex, column, center);
        padding-left: 30px !important;
    }

    .botonesDescarga {
        @include flex-row-baseline;
        margin-bottom: $size1;
        gap: $size8;

        .btnDescarga {
            min-width: 120px;
            max-width: 200px;
            width: $ancho;
            border-radius: $size5;
        }
    }

    .redes {
        @include flex-row-baseline;
        gap: $size9;

        .iconoRedes {
            width: $sizeRedes;
            height: $sizeRedes;
        }
    }
}
