#formatos {
  background-image: url("../imagenes/as.jpeg");
  background-size: contain;
  color: white;
  font-family: 'Palanquin Dark', sans-serif;
  padding: 0px 30px 60px 30px;

}

.parrafoFormatos {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 70px;
}

.tituloContenedorFormatos {
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.contFormatos2 {
  padding: 0px 20px;
}

.imgTamaño {
  min-width: 160px;
  max-width: 280px;
  border: 2px solid white;
  width: 100%;
}